{deps,[
    {poolboy,"",{git,"git@github.com:spilgames/poolboy.git",{tag,"0.9.1-1"}}},
    {erlanglibs,[],{git,"git@github.com:spilgames/erlanglibs.git",{tag,"2.3.0"}}}
]}.

{edoc_opts,[{dir,"DOC"},{includes,[".","deps"]},{preprocess,true},{todo,true}]}.

{erl_opts,[debug_info]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{require_otp_vsn,"R15"}.

{xref_checks,[undefined_function_calls]}.

