{erl_opts, [
            debug_info,
			{i, "deps"}
           ]}.

{lib_dirs, ["..", "deps" ] }.

{deps, [
    { poolboy,        "",        { git, "git@github.com:spilgames/poolboy.git",        { tag, "0.6.1"     }}}, 
    { erlanglibs,     "",        { git, "git@github.com:spilgames/erlanglibs.git",     { tag, "0.25.0"    }}}
]}.


{cover_enabled, true}.
{eunit_compile_opts, [debug_info, {i, "deps" },{d, 'TESTING'}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{require_otp_vsn, "R14|R15"}.


{edoc_opts, [{todo,true}]}.
